alembic==1.7.7
banal==1.0.6
click==8.0.4
dataclasses==0.8
dataset==1.6.2
Flask==2.0.3
greenlet==2.0.2
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
PyJWT==2.4.0
SQLAlchemy==1.4.49
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
