@import "nord.css";

* {
	font-family: 'Roberto', sans-serif;
}

body {
	background-color: var(--nord0);
	color: var(--nord4);
	font-size: large;
}

h4 {
	margin-bottom: 0.2em;
}

a {
	color: var(--nord8);
	font-size: medium;
}

p {
	margin: 5px;
}

code {
	background-color: var(--nord1);
}

table {
	font-size: 0.825em;
	margin-bottom: 1.5em;
	border-collapse: collapse;
	border-spacing: 0;
}

table tr:last-child {
	border-bottom: 1px solid #ccc;
}

table th {
	font-size: 0.925em;
	padding: 5px 20px 5px 0;
	border-bottom: 1px solid #ccc;
	vertical-align: bottom;
	text-align: left;
	line-height: 1.6;
}

table td {
	padding: 5px 20px 5px 0;
	text-align: left;
	vertical-align: top;
	line-height: 1.6;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}