@import "nord.css";

* {
	font-family: 'JetBrains Mono', monospace;
}

body {
	background-color: var(--nord0);
	color: var(--nord4);
	font-size: large;
}

a {
	color: var(--nord8);
	font-size: medium;
}

code {
	background-color: var(--nord1);
}

img {
	display: block;
	margin-top: 3em;
	margin-bottom: 3em;
	width: 80%;
	max-width: 90%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 90%;
}

.image {
	flex-basis: 70%;
}

.text {
	font-size: 20px;
	max-width: 30%;
	width: 30%;
	min-width: 10%;
}